.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    padding: 3px 10px 3px 10px;
    background-color: transparent;
    border: 1px solid grey;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #ab5386;
      color: #fff;
    }
  }
  p {
    margin: 0 10px 0 10px;
    padding: 10px;
  }
}
